<div class="center hero-unit">
  <h1>Матарикари</h1>

  <h2>
    Добро пожаловать!
   
  </h2>

  <%= link_to "Войти", '/signin', class: "btn btn-large btn-primary" %>
  <%= link_to "Регистрация", '/signup', class: "btn btn-large btn-primary" %>
</div>
